<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Another Art</title>
</head>
<body>
<p style="font-size:10pt; font-family:sans-serif; padding:0 0 0 10pt"><br><br></p>
<div style="width:440px; margin:30px auto; padding:40px 0 60px; background-color:#fff; border:1px solid #ddd; text-align:center; font-size:16px; font-family:malgun gothic,serif;">
    <h3 style="font-weight:bold; font-size:20px; margin:28px auto;">Another Art 이메일 본인인증</h3>
    <div style="width:200px; margin:28px auto; padding:8px 0 9px; background-color:#f4f4f4; border-radius:3px;">
        <span style="display:inline-block; vertical-align:middle; font-size:13px; color:#666;">인증번호</span>
        <span style="display:inline-block; margin-left:16px; vertical-align:middle; font-size:21px; font-weight:bold; color:#4d5642;" th:text="${authCode}"></span>
    </div>
    <p style="text-align:center; font-size:13px; color:#000; line-height:1.6; margin-top:40px; margin-bottom:0;">
        해당 인증번호를 인증 번호 확인란에 기입하여 주세요.<br>
        Another Art를 이용해 주셔서 감사합니다.<br>
    </p>
</div>
</body>
</html>
